[Desktop Entry]
Name=Qt3 Assistant 
Comment=A tool for presenting on-line documentation
Exec=assistant
Icon=assistant3
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Development;
